.nav {
  background-color: rgba(131, 207, 236, 0.829);
  color: aliceblue;
  padding: 50px;
  margin: auto;
}

.input {
  width: 310px;
  border-radius: 5px;
  height: 30px;
  outline: none;
}

.button {
  padding: 10px 20px;
  margin: 0 20px;
  border-radius: 5px;
  outline: none;
}

.logo {
  height: 200px;
  width: 200px;
}

.main {
  width: 85%;
  margin: 100px auto;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.result {
  text-align: center;
  width: 250px;
  border: 1px solid gainsboro;
  margin: 10px;
  padding: 20px;
}

h2 {
  text-align: center;
  color: rgba(131, 207, 236, 0.829);
  margin-top: 100px;
}
